.dcx_headermain {
    background: rgb(255 255 255);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    padding: 0.5rem 0px;
    height: 6.125rem;
    align-items: center;
    }
    .firstgrid{
        font-size: 12px;
        align-items: center;
    }
    .seconggrid{
        align-items: center;
    }
   .liveChat{
    margin-left: .5rem;
    font-size: 12px;
   }
   .buttonnav .slds-button .slds-button__icon {
       display:none !important;
   }
   .slds-button__icon{
    display:none !important;
   }
   .commonSetting{
    align-items: center; 
   }

   .dropbtn {
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #3e8e41;}
  .dropdown:hover .dropdown:focus {outline: 0;}