.this button.slds-button.slds-button_destructive {
    color: white
}

.aRed {
    position: relative;
    display: inline-block;
    padding: 8px;
    border: 2px solid red;
    line-height: 0.875rem;
    text-decoration: none;
    color: red;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem;
    border-radius: 1rem;
    font-weight: 550;
}

.slds-select {
    background-color: rgb(255, 255, 255);
    border: 2px solid #fb0000;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear, background-color .1s linear;
    height: calc(1.875rem + (1px * 2));
}

.aBlueNext {
    position: relative;
    display: inline-block;
    padding: 8px;
    border: 2px solid blue;
    line-height: 0.875rem;
    text-decoration: none;
    color: blue;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem;
    border-radius: 1rem;
    font-weight: 550;
}

.aBlue {
    position: relative;
    display: inline-block;
    padding: 8px;
    /* background: #2171d7; */
    /*border: 2px solid blue;*/
    /* border-radius: 2.25rem; */
    line-height: 0.875rem;
    text-decoration: none;
    color: white;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    font-variant: jis04;
    font-weight: 600;
    font-variant: jis04;
    font-weight: 550;
    font-family: 'Google Sans', Roboto, arial, sans-serif;
    background: -moz-linear-gradient(0% 50% 0deg, rgba(77, 1, 253, 1) 0%, rgba(255, 1, 1, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(77, 1, 253, 1) 0%, rgba(255, 1, 1, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(77, 1, 253, 1)), color-stop(1, rgba(255, 1, 1, 1)));
    background: -o-linear-gradient(0deg, rgba(77, 1, 253, 1) 0%, rgba(255, 1, 1, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(77, 1, 253, 1) 0%, rgba(255, 1, 1, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C6CF', endColorstr='#F1CC16' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(77, 1, 253, 1) 0%, rgba(255, 1, 1, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#57C6CF', endColorstr='#F1CC16', GradientType=1);
}

select {
    background-color: white;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
}

select:active,
select:hover {
    background-color: white;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px red;
}

.slds-input {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: inline-block;
    line-height: 1.875rem;
    min-height: calc(1.875rem + 2px);
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    border-radius: 0.25rem;
    transition: border 0.1s linear 0s, background-color 0.1s linear 0s;
    padding: 0px 1rem 0px 0.75rem;
}

.gg-arrow-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 22px
}

.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}

.gg-arrow-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}

.gg-arrow-left-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}

.gg-arrow-right-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 20px
}

.gg-arrow-right-o::after,
.gg-arrow-right-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 4px
}

.gg-arrow-right-o::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}

.gg-arrow-right-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}

.slds-spinner::before,
.slds-spinner::after,
.slds-spinner__dot-a::before,
.slds-spinner__dot-b::before,
.slds-spinner__dot-a::after,
.slds-spinner__dot-b::after {
    content: "";
    position: absolute;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    transform: translate3d(0px, 0px, 0px);
    background: rgb(240, 22, 22);
    border-radius: 50%;
}