.redDivWithWhiteText {
    /*background: red;*/
    color: red;
}

.THIS .slds-button {
    border-radius: 0.75rem !important;
}

.THIS .lightning-button {
    border-radius: 0.75rem !important;
}

.aRed {
    position: relative;
    display: inline-block;
    padding: 8px;
    border: 2px solid red;
    line-height: 0.875rem;
    text-decoration: none;
    color: red;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem;
    border-radius: 1rem;
    font-weight: 550;
}

.aBlueNext {
    position: relative;
    display: inline-block;
    padding: 8px;
    border: 2px solid blue;
    line-height: 0.875rem;
    text-decoration: none;
    color: blue;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .25rem;
    border-radius: 1rem;
    font-weight: 550;
}

.aBlue {
    position: relative;
    display: inline-block;
    padding: 8px;
    /* background: #2171d7; */
    /*border: 2px solid blue;*/
    /* border-radius: 2.25rem; */
    line-height: 0.875rem;
    text-decoration: none;
    color: white;
    white-space: normal;
    user-select: none;
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    font-variant: jis04;
    font-weight: 600;
    font-variant: jis04;
    font-weight: 550;
    font-family: 'Google Sans', Roboto, arial, sans-serif;
    background: -moz-linear-gradient(0% 50% 0deg, rgba(87, 198, 207, 1) 0%, rgba(241, 204, 22, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(87, 198, 207, 1) 0%, rgba(241, 204, 22, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(87, 198, 207, 1)), color-stop(1, rgba(241, 204, 22, 1)));
    background: -o-linear-gradient(0deg, rgba(87, 198, 207, 1) 0%, rgba(241, 204, 22, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(87, 198, 207, 1) 0%, rgba(241, 204, 22, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C6CF', endColorstr='#F1CC16' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(87, 198, 207, 1) 0%, rgba(241, 204, 22, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#57C6CF', endColorstr='#F1CC16', GradientType=1);
}

.gg-search-loading {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}

.gg-search-loading::after,
.gg-search-loading::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    background: currentColor
}

.gg-search-loading::after {
    border-radius: 3px;
    height: 8px;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.gg-search-loading::before {
    height: 2px;
    border-radius: 100%;
    top: 5px;
    left: 5px;
    box-shadow: -3px 0 0, 3px 0 0
}

.gg-play-list-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 12px;
    height: 6px;
    border-top: 0 solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 -2px 0, -2px 4px 0 -2px, 0 -2px 0 0
}

.gg-play-list-add::after,
.gg-play-list-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    top: 6px;
    right: -8px
}

.gg-play-list-add::before {
    width: 2px;
    height: 10px;
    top: 2px;
    right: -4px
}

.gg-play-list-check {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 12px;
    height: 6px;
    border-top: 0 solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 -2px 0, -2px 4px 0 -2px, 0 -2px 0 0
}

.gg-play-list-check::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 5px;
    height: 8px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    top: 2px;
    right: -4px
}

.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px
}

.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}

.gg-close-o::after {
    transform: rotate(-45deg)
}

.slds-spinner::before,
.slds-spinner::after,
.slds-spinner__dot-a::before,
.slds-spinner__dot-b::before,
.slds-spinner__dot-a::after,
.slds-spinner__dot-b::after {
    content: "";
    position: absolute;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    transform: translate3d(0px, 0px, 0px);
    background: rgb(240, 22, 22);
    border-radius: 50%;
}