   
   .dcx_header .slds-global-header {
    background: rgb(255 255 255);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    padding: 0.5rem 0px;
    height: 6.125rem;
    align-items: center;
    }